@font-face {
  font-family: 'Bungee Inline', cursive;
  src: url("https://fonts.googleapis.com/css?family=Bungee+Inline"); }

.App {
  text-align: center; }

.App-logo {
  animation: heartbeat 5s infinite;
  height: 80px; }

@keyframes heartbeat {
  0% {
    transform: scale(0.75); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.75); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.75); }
  100% {
    transform: scale(0.75); } }

.App-header {
  height: 150px;
  padding: 20px;
  color: black;
  font-family: "Bungee Inline", cursive; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes backAndForth {
  from {
    left: 0px; }
  to {
    left: 300px; } }

@-webkit-keyframes backAndForth {
  from {
    left: 0px; }
  to {
    left: 300px; } }

.bmiInfo {
  font-family: "Bungee Inline", cursive;
  animation: backAndForth 3s infinite;
  -webkit-animation: backAndForth 3s infinite; }

.spacer {
  height: 40px; }

.calculationHeader {
  font-family: "Bungee Inline", cursive; }

.bmiMessage {
  padding-left: 8vw;
  padding-right: 8vw; }

.plan {
  list-style-type: none; }
